.projects {
    margin: 0 auto;
    background: $light-gray;
    padding: 8rem 0;
    &__description {
        color: $gray;
        margin: 0 0 4rem;
        font-style: normal;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        max-width: 580px;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
    &__title {
        margin: 0 auto 1rem;
        font-style: normal;
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        padding: 1rem 16px;
        max-width: 1216px;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
}

.projects__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding: 0;
    margin: 0;
    @media (max-width: $mobile) {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
}

.project {
    background: $white;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__container {
        padding: 3rem;
    }
    &__description {
        color: $gray;
        font-style: normal;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2rem;
        margin: 0;
    }
    &__footer {
        background: $light-gray;
        padding: 1rem 3rem;
        text-align: right;
    }
    &__link {
        color: $blue;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 2rem;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        &+& {
            margin-left: 50px;
            position: relative;
            &::after {
                content: '';
                height: 32px;
                width: 2px;
                background: #CBD2D9;
                display: block;
                position: absolute;
                left: -26px;
                pointer-events: none;
            }
        }
        &::before {
            content: '';
            display: block;
            margin-right: 8px;
            width: 24px;
            height: 24px;
            background: url('../assets/img/Demo.svg') center center no-repeat;
        }
        &--code::before {
            background: url('../assets/img/code.svg') center center no-repeat;
        }
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2.25rem;
        padding-top: 1rem;
        margin: 1rem 0.5rem;
    }
}